@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Noto+Serif&display=swap');

:root {
  --primary-color: #010101;
  --dark-color: #000;
  --light-color: #fff;
  --gray-color: #848484;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  line-height: 1;
  background-color: var(--light-color);
  color: var(--dark-color);
}

a {
  color: var(--primary-color);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    color: var(--gray-color);
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
  border-style: none;
}

.text-primary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

.text-gray {
  color: var(--gray-color);
}

.text-center {
  text-align: center;
}

.position-relative {
  position: relative;
  overflow: hidden;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

.divider{
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--dark-color);
}

.container {
  max-width: 768px;
  margin: 0 auto;
  overflow: hidden;
  padding: 40px 34px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  & h1 {
    font-family: 'Playfair Display', serif;
    color: var(--primary-color);
    font-size: 40px;
    text-transform: uppercase;
    line-height: 1;
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      margin-top: .9em;
      margin-left: 18px;
      background-color: var(--dark-color);
    }
  }
}

.date {
  font-family: 'Noto Serif', sans-serif;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255,255,255, .8);
  z-index: 2;
  & .date--day {
    font-size: 36px;
    position: relative;
    &::before {
      border-left: solid transparent 5px;
      border-right: solid var(--dark-color) 5px;
      border-top: solid transparent 5px;
      bottom: 15px;
      content: " ";
      right: -40px;
      position: absolute;
      transform: rotate(-45deg);
    }
  }
  & .date--month {
    font-size: 18px;
  }
}

.photo {
  margin: 30px 0 16px;
  & .date {
    width: 160px;
    height: 104px;
    left: 18px;
    top: 18px;
  }
  & img {
    height: 100%;
  }
  & .photo-block{
    position: relative;
    margin-bottom: 16px;
    &::before {
      content: "";
      border-left: solid transparent 15px;
      border-right: solid var(--light-color) 15px;
      border-top: solid transparent 15px;
      bottom: -13px;
      left: 50%;
      position: absolute;
      transform: rotate(224deg);
    }
  }
  & .photo-title {
    font-weight: 700;
    font-size: 13px;
    line-height: 1.385;
  }
  & .photo-author {
    font-size: 13px;
    color: #acacac;
    line-height: 1.385;
  }
}

.gallery {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(160px,1fr));

  & .gallery-item {
    position: relative;
    grid-row: span 1;
    &:hover .date {
      transition: all 1s;
      opacity: 1;
    }
  }
  & .gallery-item--banner {
    grid-row: span 2;
  }
  & .date {
    opacity: 0;
    transition: all 2s;
    cursor: pointer;
    background-color: rgba(255,255,255, 1);
  }
  & .date.open {
    opacity: 1;
  }
}

.pagination {
  display: flex;
  padding-left: 0;
  margin: 30px 0;
  list-style: none;
  & .page-item  {
    &.disabled .page-link {
      color: var(--gray-color);
      pointer-events: none;
      cursor: auto;
      padding-left: 0;
      margin-left: 0;
    }
    & .page-link {
      position: relative;
      display: block;
      margin: 0 5px;
      padding: 11px 14px;
      border-radius: 50%;
      cursor: pointer;
      font-size: 13px;
    }
    &.active .page-link {
      background-color: #e6e6e6;
      font-weight: 700;
    }
  }
}

