@media screen and (min-width: 481px) {
  .show-mobile {
    display: none;
  }
  .gallery-item--banner--mobile {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .show-mobile {
    display: block;
  }
  .hidden-mobile{
    display: none;
  }
  .container {
    padding: 45px 20px;
  }
  .date {
    & .date--day {
      font-size: 18px;
      &::before {
        bottom: 7px;
        right: -20px;
      }
    }
    & .date--month {
      font-size: 14px;
    }
  }
  .photo {
    & .date {
      width: 80px;
      height: 53px;
      left: 10px;
      top: 10px;
      & .date--day {
        &::before {
          display: none;
        }
      }
    }
    & .photo-block {
      margin-bottom: 0;
      &::before {
        display: none;
      }
    }
  }
  .gallery{
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto;
    & .gallery-item {
      width: 80px;
      & .date {
        padding: 5px;
      }
    }
    & .gallery-item--banner {
      grid-row: span 4;
      width: auto;
    }
  }
}

@media screen and (max-width: 320px) {
  .header h1{
    font-size: 26px;
  }
  .container {
    padding: 28px 5px;
  }
  .photo {
    margin: 15px 0 5px;
  }
  .gallery{
    display: flex;
    flex-wrap: wrap;
    & .gallery-item {
      width: 100%;
      flex: 0 0 25%;
      max-width: 25%;
      position: relative;
      padding: 2.5px;
    }
    & .gallery-item--banner {
      display: none;
    }
    & .gallery-item--banner--mobile {
      display: block;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  .pagination {
    margin: 20px 0;
    & .page-item:first-child{
      display: none;
    }
    & .page-item .page-link {
      margin: 0;
    }
  }

}
